<div class="dashboard__widget">
    <h2 class="dashboard__widget-title">
        {{ title }}
    </h2>
    <ul class="dashboard__widget-list">
        <li class="dashboard__widget-list-item" *ngFor="let item of list">
            <span class="dashboard__widget-list-item-date">
                {{ parseDate(item.updatedAt )}}
            </span>
            <div class="dashboard__widget-list-item-content">
                <h2 class="dashboard__widget-list-item-name">
                    {{ item.name }}
                </h2> 
                <h3 class="dashboard__widget-list-item-category">
                    {{ item.category.name }}
                </h3>
                <div class="dashboard__widget-list-item-value">
                    {{ item.value }} 
                    <span>{{ item.currency }}</span>
                </div>
            </div>
        </li>
    </ul>
</div>
