<div class="generic-list">
    <h2 class="generic-list__title">
        Lista wpływów na konta
        <a [routerLink]="['/add', 'income']" class="button button--primary">
            Dodaj
        </a>
    </h2>
    
    <div class="generic-list__filters">
        <div class="generic-list__dateFilter" [formGroup]="dateForm">
            <div class="input">
                <label>
                    Data od
                </label>
                <div class="input-group">
                    <input [matDatepicker]="from" placeholder="Choose a date" formControlName="from" />
                    <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                    <mat-datepicker #from></mat-datepicker>
                </div>
            </div>
            <div class="input">
                <label>
                    Data do
                </label>
                <div class="input-group">
                    <input [matDatepicker]="to" placeholder="Choose a date" formControlName="to" />
                    <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                    <mat-datepicker #to></mat-datepicker>
                </div>
            </div>
            <button type="submit" (click)="submit()" class="button button--primary">Filtruj</button>
        </div>
    </div>
    <div class="generic-list__table-wrapper">
        <app-table-list [data]="dataTable" (deleteItem)="delete($event)"></app-table-list>
    </div>
</div>
