<header class="header">
    <div class="header__logo">
        <a routerLink="/">
            <img src="../../../assets/logo.png" alt="Logo" />
        </a>
    </div>
    <div class="header__balance">
        <span class="header__label">
            stan konta
        </span>
        {{ balance.toFixed(2) }} pln
    </div>
    <div class="header__add">
        <button class="header__add-btn" (click)="toggleAddNav()">
            <i class="material-icons">
                add
            </i>
        </button>
        <ul class="header__list" *ngIf="addNav" [@inOutAnimation] (click)="addNav = false">
            <li class="header__list-item">
                <a [routerLink]="['add', 'expense']" class="header__list-link">
                    <span class="header__list-icon">
                        <i class="material-icons">
                            trending_down
                        </i>
                    </span>
                    <span class="header__list-text">
                        Koszt
                    </span>
                </a>
            </li>
            <li class="header__list-item">
                <a [routerLink]="['add', 'income']" class="header__list-link">
                    <span class="header__list-icon">
                        <i class="material-icons">
                            trending_up
                        </i>
                    </span>
                    <span class="header__list-text">
                        Dochód
                    </span>
                </a>
            </li>
            <li class="header__list-item">
                <a [routerLink]="['add', 'account']" class="header__list-link">
                    <span class="header__list-icon">
                       <i class="material-icons">
                           attach_money
                       </i>
                    </span>
                    <span class="header__list-text">
                        Konto
                    </span>
                </a>
            </li>
            <li class="header__list-item">
                <a [routerLink]="['add', 'category']" class="header__list-link">
                    <span class="header__list-icon">
                       <i class="material-icons">
                           category
                       </i>
                    </span>
                    <span class="header__list-text">
                        Kategorie
                    </span>
                </a>
            </li>

            <li class="header__list-item">
                <a [routerLink]="['add', 'transfer']" class="header__list-link">
                    <span class="header__list-icon">
                       <i class="material-icons">
                           transform
                       </i>
                    </span>
                    <span class="header__list-text">
                        Transfer
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>
