<div class="dashboard">
    <div class="dashboard__container">
        <div class="dashboard__content">
            <app-account-balance></app-account-balance>
            <div class="dashboard__lists">
                <app-list
                    [list]="expenses$ | async"
                    title="Ostatnie wydatki"
                    icon="trending_down"
                ></app-list>
                <app-list
                    [list]="income$ | async"
                    title="Ostatnie wpływy"
                    icon="trending_up"
                ></app-list>
            </div>
            <div class="dashboard__categories">
                <h2 class="dashboard__title">
                    Wydatki według kategorii
                </h2>
                <ng-container *ngFor="let category of category$ | async">
                    <app-category-balance
                        [category]="category"
                        *ngIf="category.id !== 6"
                    ></app-category-balance>
                </ng-container>
            </div>
            <app-charts
                title="Bilans miesięczny (rok)"
                class="dashboard__charts"
            ></app-charts>
        </div>
        <div class="dashboard__accounts">
            <h2 class="dashboard__title">
                <span>
                    Konta
                </span>
                <a [routerLink]="['add', 'account']">
                    <i class="material-icons">
                        add
                    </i>
                </a>
            </h2>
            <app-account-widget
                [class]="'dashboard__account ' + account.name.toLowerCase()"
                *ngFor="let account of accounts$ | async"
                [account]="account"
                (delete)="deleteAccount($event)"
            ></app-account-widget>
        </div>
    </div>
</div>
