.button {
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f0f0f0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    background-image: none;
    color: #626262;
    background-color: #fff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    position: relative;
    transition: color .1s linear 0s,background-color .1s linear 0s,opacity .2s linear 0s;
    padding: 6px 17px;
    display: inline-block;
    text-decoration: none;
    &--primary {
        color: #fff;
        background-color: #6d5cae;
        border-color: #6d5cae;
        &:hover {
            background-color: #8a7dbe;
            border-color: #8a7dbe;
            color: #fff;
        }
    }
    & + .button {
        margin-left: 15px;
    }
    &--secondary {
        color: #fff;
        background-color: #c82333 ;
        border-color: #c82333 ;
        &:hover {
            background-color: #f77975;
            border-color: #f77975;
            color: #fff;
        }
    }
}
