.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    left: -220px;
    transition: left 0.3s;
    background: var(--nav-bg);
    z-index: 99;
    font-family: 'Nunito', sans-serif;
    @media (min-width: 1000px) {
        left: 0;
    }
    &__logo {
        display: block;
        @media (min-width: 1000px) {
            margin: 30px auto;
        }
        img {
            display: block;
            margin: 10px 0 10px auto;
            width: 60px;
            @media (min-width: 1000px) {
                margin: 0 auto;
                width: auto;
            }
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 0 0 10px;
        line-height: 60px;
        text-decoration: none;
        color: var(--nav-color);
        font-size: 13px;
        font-weight: bold;
        @media (min-width: 1000px) {
            padding: 0 0 0 30px;
        }
        &:hover {
            color: var(--nav-color-hover);
            i {
                color: var(--nav-icon-color-hover);
            } 
        }
        span:not(.nav__icon) {
            @media (min-width: 1000px) {
                order: 1;
            }
        }
    }
    &__icon {
        width: 40px;
        text-align: center;
        margin: 10px 10px 10px auto;
        color: var(--nav-icon-color);
        @media (min-width: 1000px) {
            margin: 10px 10px 10px 0;
            order: 0;
        }
        i {
            display: block;
            line-height: 40px;
        }
    }
}
