<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="#" class="nav__link">
                <span>Wydatki</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        trending_down
                    </i>
                </span>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">
                <span>Dochody</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        trending_up
                    </i>
                </span>
            </a>
        </li>
        <li class="nav__item">
            <a href="#" class="nav__link">
                <span>Kategorie</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        category
                    </i>
                </span>
            </a>
        </li>
    </ul>
</nav>
