<nav class="nav">
    <div class="nav__logo">
        <a routerLink="/">
            <img src="../../../assets/logo.png" alt="Logo" />
        </a>
    </div>
    <app-add-button></app-add-button>
    <ul class="nav__list">
        <li class="nav__item">
            <a [routerLink]="['list', 'expense']" class="nav__link">
                <span>Wydatki</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        trending_down
                    </i>
                </span>
            </a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['list', 'income']" class="nav__link">
                <span>Dochody</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        trending_up
                    </i>
                </span>
            </a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['list', 'category']" class="nav__link">
                <span>Kategorie</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        category
                    </i>
                </span>
            </a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['list', 'account']" class="nav__link">
                <span>Konta</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        attach_money
                    </i>
                </span>
            </a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['list', 'refill']" class="nav__link">
                <span>Tankowania</span>
                <span class="nav__icon">
                    <i class="material-icons">
                        local_gas_station 
                    </i>
                </span>
            </a>
        </li>
    </ul>
</nav>
