.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    left: -220px;
    transition: left 0.3s;
    background: var(--nav-bg);
    z-index: 99;
    &:hover {
        @media (min-width: 1000px) {
            left: 0;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 0 0 10px;
        line-height: 60px;
        text-decoration: none;
        color: var(--nav-color);
        font-size: 13px;
        &:hover {
            color: var(--white);
            i {
                color: var(--white);
            }
        }
    }
    &__icon {
        width: 40px;
        text-align: center;
        margin: 10px 10px 10px auto;
        background: var(--nav-icon-bg);
        color: var(--nav-icon-color);
        i {
            display: block;
            line-height: 40px;
        }
    }
}
