<div class="generic-list-grid">
    <div class="generic-list-grid__content">
        <header class="generic-list-grid__header">
            <img src="../../../assets/account.svg" alt="Konta" class="generic-list-grid__header-icon" />
            <h2 class="generic-list-grid__title">
                Konta
            </h2>
            <div class="generic-list-grid__add-btn">
                <a [routerLink]="['/add', 'account']" class="button button--primary">
                    Dodaj
                </a>
            </div>
        </header>
        <div class="generic-list__table-wrapper">
            <app-account-table [data]="dataTable" (deleteItem)="delete($event)"></app-account-table>
        </div>
    </div>
</div>
