/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "app/shared/styles/reset";
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --nav-bg: rgb(243,245,249);
    --nav-color: #B9BCC5;
    --nav-color-hover: rgb(0,0,0);
    --nav-icon-bg: #21252d;
    --nav-icon-color: #B9BCC5;
    --nav-icon-color-hover: rgb(0,0,0);;
    --header-border-color: #e6e6e6;
    --header-label-bg: #48b0f7;
    --btn-primary: #6d5cae;
    --dashboard-widget-title-color: #9CA0AB;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
body {
    font-family: "Segoe UI",Arial,sans-serif;
}
.page-container {
    padding: 0 0 0 60px;
    @media (min-width: 1000px) {
        padding: 0 0 0 280px;
    }
}
@import "app/shared/styles/button";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
