<div class="generic-list-grid">
    <div class="generic-list-grid__content">
        <header class="generic-list-grid__header">
            <img src="../../../assets/expenses.svg" alt="Wydatki" class="generic-list-grid__header-icon" />
            <h2 class="generic-list-grid__title">
                Wydatki w tym miesiącu
                <span class="generic-list-grid__subtitle">
                    Suma: {{ formatVal(expensesSum) }} PLN
                </span>
            </h2>
            <div class="generic-list-grid__add-btn">
                <a [routerLink]="['/add', 'expense']" class="button button--primary">
                    Dodaj
                </a>
            </div>
        </header>
        <div class="generic-list__table-wrapper">
            <app-table-list [data]="dataTable" (deleteItem)="delete($event)"></app-table-list>
            <h4 class="generic-list-grid__sum" *ngIf="expensesSumFilter > 0">
                Razem: {{ formatVal(expensesSumFilter) }} PLN
            </h4>
        </div>
    </div>
    <div class="generic-list-grid__filters">
        <h2 class="generic-list-grid__title">
            Filtry
        </h2>
        <app-filters (submitFilters)="submit($event)"></app-filters>
    </div>
</div>
